input {
	width: 100%;
	padding: 10px;
}
label {
	color: #fff;
}
#comments {
	height: 200px;
}

#submit {
	float: right;
}
div.container {
	padding-left:0;
}
input {
	text-align: top;
}
.btn-large{
	width: 200px;
	margin-top: 5px;
}
.taglines{
	padding-right: 40px;
}
a[href$=".pdf"] {
  background: url('/images/pdficon_small.png') no-repeat left center;
  padding-left: 20px;
}
a[href$=".xlsx"] {
  background: url('/images/icon_xlsx.png') no-repeat left center;
  padding-left: 20px;
}
a[href$=".zip"] {
  background: url('/images/zip_icon.png') no-repeat left center;
  padding-left: 20px;
}

.icon-chevron-right {
	float: right;
}

.bs-docs-sidebar {
	background: #f2f2f2;
}