.screenreader {
	display: none;
}

header {
	.navbar-inner {
		padding: 0;
		border: 0;
		border-radius: 0;
		color: white;
	}

	.navbar {
		margin: 0;
		.nav {
			float: right;
			li {
				a {
					color: #D1D3D4;
				}
				a:hover {
					text-decoration: none;
					color: #fff;
				}
			}
		}

		.navbar-inner {
			background-color: $ONC-blue;
			background-image: none;
			color: #fff;
		}
	}

	.navbar-inverse .navbar-inner {
		background-color: $ONC-blue;
		filter: none;
	}

	.jumbotron {
		background-image: url('../images/header-background.png');
		padding:0;
		background-color: #fff;

		.container {
			background-image: url('../images/Cypress_header-nb.png');
			background-repeat: no-repeat;
			z-index: 999;
			height: 160px;
		}
	}

	.navbar .navbar-fixed-top{
		overflow: hidden;
		width: 100%;
	}
}

.nav-listing {
	margin: 20px 0 !important;

	.nav-tabs {
		li {
			
			margin-bottom: -2px;
			color: black !important;

			a {
				padding: 1.2em 1.2em 0 1.2em;
			}
		}
		li:active {
			background: #fff;
		}
	}
}


.nav-listing .nav > li > a {
	margin-top: 10px;
	padding: 5px 10px;
	text-shadow: none;
	color: black;
	font-size: 1.4em;
}

.navbar .nav > li > a.right {
	padding: 0px;
	margin-top: 3px;
}

nav-listing nav li.active {
		border-bottom: 2px solid white;
}

.nav-listing .nav .active > a, .navbar .nav .active > a:hover {
  background: #fff;
  border-bottom: none;
  color: black;
  font-weight: 800;
  margin-bottom:-1px;
}

.navbar .nav > li > a:hover {
	color: black;
}

.btn-nav {
	display: none;
}
nav.nav {
	li {
		margin-left: 6px;
		display: inline;
		ul.social {
			height: 20px;
			margin-top: 7px;
		}
		.twitter, .youtube, .linkedin, .flickr, .slideshare, .googleplus, .rss  {
			
		}

		img{
			width: 20px;
			height: 20px;
			border-radius: 2px;
			padding: 0;
			margin: 0;
			line-height: 20px;

		}
	}
}
#fb-root {
	margin-top: 5px;
}



footer {
	padding-top: 1em;
}

